.div{
    text-align: center;
}
.img{
    margin-top: 200px;
    width: 400px;
    height: 200px;
}
html:hover .img{
    animation-name: img;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;                                             /*动画结束保持最后一帧*/
}
@keyframes img {
    to{
        margin-top: 0px;
        width: 100px;
        height: 50px;
    }
}
p{
    font-family: 微软雅黑;
    font-size: 30px;
    color: #1dffe1;
    text-shadow: 1px 1px 1px black;
    opacity: 1;                                                                   /*透明度（参数0-1）*/
}
html:hover p{
    transition-delay: 1s;
    transition-duration: 2s;                                                        /*字体变换一般用transition*/
    font-family: 微软雅黑;
    font-size: 10px;
    color: #1dffe1;
    text-shadow: 1px 1px 1px black;
    opacity: 0;
}